<div class="w-full h-full m-auto">
  <app-title-component
    valueIcon="supervised_user_circle"
    content="Manage Account"
  ></app-title-component>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-description>
          Filter Column
          <mat-icon>ballot</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-10">
        <div class="col-span-5 scroll">
          <div class="col-span-1 border-orange-700 border-solid">
            <div
              class="text-center w-5/6 p-1 font-bold bg-orange-400 hover:bg-orange-500 text-white my-2 h-full cursor-pointer"
              (click)="searchData()"
              >
              <span>Search</span>
            </div>
          </div>
          <h2>Field Search</h2>
          <form
            class="example-form w-full mt-2 overflow-x-auto"
            style="max-height: 300px"
          >
            <!-- avoid css  -->
            <mat-form-field
              class="example-full-width w-5/6 ml-2 hidden"
              style="display: none"
            >
              <mat-label>xx</mat-label>
              <input matInput placeholder="Search..." />
            </mat-form-field>
            <div
              *ngFor="let item of displayedColumns"
              class="flex flex-col gap-2"
            >
              <div
                *ngIf="
                  item == 'createdAt' || item == 'updatedAt';
                  else theSecondCondition
                "
                class="flex flex-col"
              >
                <span class="font-bold text-base leading-5 mb-2">{{
                  item
                }}</span>
                <div class="flex flex-col">
                  <div>
                    <mat-form-field color="accent">
                      <mat-label>Inherited calendar color</mat-label>
                      <input matInput [matDatepicker]="picker1" />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field color="accent">
                      <mat-label>Custom calendar color</mat-label>
                      <input matInput [matDatepicker]="picker2" />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <ng-template #theSecondCondition>
                <div
                  *ngIf="item == 'isActive'; else theThirdCondition"
                  class="flex flex-row gap-3"
                >
                  <span class="font-bold text-base leading-5">{{ item }}</span>
                  <mat-slide-toggle></mat-slide-toggle>
                </div>
              </ng-template>
              <ng-template #theThirdCondition>
                <div *ngIf="item != 'Function'" class="flex flex-col">
                  <span class="font-bold text-base leading-5">{{ item }}</span>
                  <mat-form-field class="example-full-width w-5/6">
                    <mat-label>{{ item }}</mat-label>
                    <input matInput placeholder="Search..." />
                  </mat-form-field>
                </div>
              </ng-template>
            </div>
          </form>
        </div>
        <div class="col-span-5">
          <div
            class="text-center w-full p-1 bg-orange-400 hover:bg-orange-500 text-white my-2"
            (click)="onChangeFilterColumn()"
          >
            Apply
          </div>
          <app-drag-drop-column
            [columnSaveShow]="displayedColumns"
            (allColumnAreShowing)="onColumnShowChange($event)"
          ></app-drag-drop-column>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <app-table-util-component [displayedColumns]="displayedColumns"
    [dataSource]="dataSource"
    (dialogOnChange)="openDialogFormAccount()"
    (editOnChange)="openEdit($event)"
    (removeOnChange)="openRemove($event)"
    contentButton="Create New Account"
  >  
  </app-table-util-component>
</div>
