
<div class="w-full h-full m-auto">
  <app-title-component
    valueIcon="supervised_user_circle"
    content="Manage Account"
  ></app-title-component>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-description>
          Search Column
          <mat-icon>ballot</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-cols-1">
        <div class="row-span-1 scroll">
          <h2>Field Search</h2>
          <!-- FORM -->
          <form
            class="mt-2 overflow-x-auto"
            style="max-height: 300px">
            <!-- avoid css  -->
            <mat-form-field
              class="example-full-width w-5/6 ml-2 hidden"
              style="display: none"
            >
              <mat-label>Fake</mat-label>
              <input matInput placeholder="Search..." />
            </mat-form-field>

            <div
              *ngFor="let item of displayedColumns"
              class="flex flex-col gap-2"
            >
              <!-- USERNAME -->
              <mat-form-field
               
                *ngIf="item == 'username'"
              >
                <mat-label>{{ item }}</mat-label>
                <input
                  matInput
                  placeholder="Search..."
                  [(ngModel)]="accountRequestModel.username"
                  name="{{ item }}"
                  (keyup.enter)="searchData()"
                />
              </mat-form-field>

              <!-- ID -->
              <mat-form-field
            
                *ngIf="item == 'id'"
              >
                <mat-label>{{ item }}</mat-label>
                <input
                  matInput
                  placeholder="Search..."
                  [(ngModel)]="accountRequestModel.id"
                  name="{{ item }}"
                  (keyup.enter)="searchData()"
                />
              </mat-form-field>

              <!-- EMAIL -->
              <mat-form-field
             
                *ngIf="item == 'email'"
              >
                <mat-label>{{ item }}</mat-label>
                <input
                  matInput
                  placeholder="Search..."
                  [(ngModel)]="accountRequestModel.email"
                  name="{{ item }}"
                  (keyup.enter)="searchData()"
                />
              </mat-form-field>

              <!-- IS ACTIVE -->
              <div *ngIf="item == 'isActive'" class="flex flex-row gap-3">
                <span class="text-base leading-5">Is Active User: </span>
                <mat-slide-toggle
                  [(ngModel)]="accountRequestModel.isActive"
                  name="{{ item }}"
                ></mat-slide-toggle>
              </div>

              <!-- CREATED -->
              <div *ngIf="item == 'created'" class="flex flex-col">
                <div class="flex flex-row">
                  <div>
                    <mat-form-field color="accent">
                      <mat-label>Create From Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker1"
                        [(ngModel)]="accountRequestModel.createFromDate"
                        name="{{ item }}"
                      />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  -
                  <div>
                    <mat-form-field color="accent">
                      <mat-label>Create To Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker2"
                        [(ngModel)]="accountRequestModel.createToDate"
                        name="{{ item }}"
                      />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- BIRTHDAY -->
              <div *ngIf="item == 'birthday'" class="flex flex-col">
                <div class="flex flex-row">
                  <div>
                    <mat-form-field color="accent">
                      <mat-label>Birthday From Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker1"
                        [(ngModel)]="accountRequestModel.fromBirthday"
                        name="{{ item }}"
                      />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  -
                  <div>
                    <mat-form-field color="accent" >
                      <mat-label>Birthday To Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker2"
                        [(ngModel)]="accountRequestModel.toBirthday"
                        name="{{ item }}"
                      />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-description>
          Filter Column
          <mat-icon>ballot</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="grid grid-rows-1">
        <div class="row-span-1">
          <app-drag-drop-column
            [columnSaveShow]="displayedColumns"
            (allColumnAreShowing)="onColumnShowChange($event)"
          ></app-drag-drop-column>
          <div
            class="text-center w-full p-1 bg-orange-400 hover:bg-orange-500 text-white my-2"
            (click)="onChangeFilterColumn()"
          >
            Apply
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="w-full h-12 border-2 shadow-sm bg-white my-2">
    <div class="flex flex-row justify-end gap-4">
      <div>
        <button class="bg-orange-600 hover:bg-orange-700 text-white p-2" (click)="exportExcel()">
          Export File
        </button>
      </div>
      <div>
        <button
          (click)="openDialogFormAccount()"
          class="bg-orange-600 hover:bg-orange-700 text-white p-2"
        >
          Create New Account
        </button>
      </div>
      <div>
        <button
          class="bg-orange-600 hover:bg-orange-700 text-white p-2"
          (click)="searchData()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <app-table-util-component
    [displayedColumns]="displayedColumns"
    [dataSource]="dataSource"
    [totalPage]="totalPage"
    [currentPage]="currentPageDefault"
    [currentSize]="currentSizeDefault"
    [isLoadingPage]="isLoadingPage"
    [disabledRemove]="true"
    (searchData)="pageOnChange($event)"
    (editOnChange)="openEdit($event)"
    (dataSortChange)="onSortChange($event)"
  >
  </app-table-util-component>
</div>
