<div [style]="'max-width:' + maxWidth + ';margin:auto;'">
    <div class="grid grid-cols-4 grid-flow-col h-40 gap-3 p-2">
        <div class="border-2 border-solid border-gray-200 rounded-sm shadow-xl">
            <app-weekly-sales-box></app-weekly-sales-box>
        </div>
        <div class="border-2 border-solid border-gray-200 rounded-sm shadow-xl">
            <app-total-order-box></app-total-order-box>
        </div>
        <div class="border-2 border-solid border-gray-200 rounded-sm shadow-xl">
            
        </div>
        <div class="border-2 border-solid border-gray-200 rounded-sm shadow-xl">
            <app-weather-box></app-weather-box>
        </div>
    </div>
    <div class="grid grid-cols-2 grid-flow-col h-96 gap-5 p-2">
        <div class="border-2 border-solid border-gray-200 rounded-sm shadow-xl min-h-48">
            <app-dynamic-chart-common [heightChart]="chartHeight"></app-dynamic-chart-common>
          
        </div>
        <div class="border-2 border-solid border-gray-200 rounded-sm relative shadow-xl">
            <app-line-chart-common [heightChart]="chartHeight"></app-line-chart-common>
        </div>
    </div>
    <div class="grid grid-cols-4 grid-flow-col h-96 gap-5 p-2">
        <div class="col-span-1 border-2 border-solid border-gray-200 rounded-sm shadow-xl">
    
        </div>
        <div class="col-span-2 border-2 border-solid border-gray-200 rounded-sm shadow-xl">
            
        </div>
        <div class="col-span-1 border-2 border-solid border-gray-200 rounded-sm shadow-xl">
            
        </div>
    </div>
</div>
