<div class="grid grid-cols-4 grid-flow-col h-40 gap-5 p-2">
    <div class="border-2 border-solid border-gray-300 rounded-sm">

    </div>
    <div class="border-2 border-solid border-gray-300 rounded-sm">
        
    </div>
    <div class="border-2 border-solid border-gray-300 rounded-sm">
        
    </div>
    <div class="border-2 border-solid border-gray-300 rounded-sm">
        
    </div>
</div>
<div class="grid grid-cols-2 grid-flow-col h-96 gap-5 p-2">
    <div class="border-2 border-solid border-gray-300 rounded-sm">
        <app-dynamic-chart-common [heightChart]="chartHeight"></app-dynamic-chart-common>
      
    </div>
    <div class="border-2 border-solid border-gray-300 rounded-sm relative">
        <app-line-chart-common [heightChart]="chartHeight"></app-line-chart-common>
    </div>
</div>
<div class="grid grid-cols-4 grid-flow-col h-96 gap-5 p-2">
    <div class="col-span-1 border-2 border-solid border-gray-300 rounded-sm">

    </div>
    <div class="col-span-2 border-2 border-solid border-gray-300 rounded-sm">
        
    </div>
    <div class="col-span-1 border-2 border-solid border-gray-300 rounded-sm">
        
    </div>
</div>