<div class="flex flex-col contents-inside-footer m-auto bg-orange-600 text-white">
    
    <div class="p-10 m-auto w-full border-t-2 border-gray-300 border-solid text-center justify-center items-center">
        <div class="grid grid-cols-10">
            <div class="col-span-3">
                <span>
                   
                </span>
                <div class="flex flex-col">
                    <mat-icon>facebook</mat-icon> 
                    <span class="-m-5">
                        Shopee. Tất cả quyền được bảo lưu 
                    </span> 
                </div>
            </div>
            <div class="col-span-7">
                <div class="flex flex-row pl-24">
                    <div class="mr-5 border-r-2 border-black border-solid pr-2">
                        <span>Quốc gia & Khu vực: <a href="#" class="hover:text-orange-600">Singapore</a></span>
                    </div>
                    <div class="mr-5 border-r-2 border-black border-solid pr-2">
                        <a href="#" class="hover:text-orange-600">Việt Nam</a>
                    </div>
                    <div class="mr-5 border-r-2 border-black border-solid pr-2">
                        <a href="#" class="hover:text-orange-600">Đài Loan</a>
                    </div>
                    <div class="mr-5 border-r-2 border-black border-solid pr-2">
                        <a href="#" class="hover:text-orange-600">Đài Loan</a>
                    </div>
                    <div class="mr-5 border-r-2 border-black border-solid pr-2">
                        <a href="#" class="hover:text-orange-600">Đài Loan</a>
                    </div>
                    <div class="mr-5">
                        <a href="#" class="hover:text-orange-600">Đài Loan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

