<div class="sticky top-0 left-0 w-full h-16 bg-orange-600">
    <div class="flex flex-row h-full m-auto" style="max-width: 1500px;">
        <div class="flex flex-row w-fit px-10 cursor-pointer">
            <div class="my-auto">
                <mat-icon class=" text-white text-5xl pr-12 pb-14 mt-1">shopping_basket</mat-icon>
            </div>
            <div class="text-center text-white text-xl my-auto">
                <span class="pt-10 mt-10">Shopee Admin</span>
            
            </div>
            
        </div> 
        <div class="w-4/5 my-auto">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" class="pl-10 w-80" pInputText placeholder="Search..."/>
            </span>
        </div>
        <div class="flex flex-row w-fit px-10 text-end h-full leading-5 gap-3">
            <div class="m-auto ">
                <mat-icon class=" text-white text-xl m-auto">shopping_basket</mat-icon>
            </div>
            <div class="m-auto ">
                <mat-icon class=" text-white text-xl m-auto">shopping_basket</mat-icon>
            </div>
            <div class="m-auto ">
                <mat-icon class=" text-white text-xl m-auto">shopping_basket</mat-icon>
            </div>
        </div> 
    </div>
</div>