<p-toast></p-toast>
<div class="sticky top-0 left-0 w-full h-16 bg-orange-600 z-50">
    <div class="flex flex-row h-full m-auto" [style]="'max-width: ' + maxWidth">
        <div class="py-5 pl-4">
            <mat-icon (click)="menuOnChange()" class=" m-auto text-white cursor-pointer hover:border-2 hover:border-solid hover:border-orange-400 hover:bg-orange-400 hover:rounded-full hover:text-white">subject</mat-icon>
        </div>
        <div class="flex flex-row w-fit px-3 cursor-pointer">
            <div class="my-auto">
                <mat-icon class=" text-white text-5xl pr-12 pb-14 mt-1">shopping_basket</mat-icon>
            </div>
            <div class="text-center text-white text-xl my-auto">
                <span class="pt-10 mt-10">Admin</span>
            
            </div>
            
        </div> 
        <div class="w-4/5 my-auto">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" class="pl-10 w-80 h-10 border-solid rounded-full" InputText placeholder="Search..."/>
            </span>
        </div>
        <div class="flex flex-row w-fit px-10 text-end h-full leading-5 gap-3">
            <div class="m-auto ">
           
                <mat-icon (click)="menu.toggle($event)" class="text-white text-xl m-auto cursor-pointer">settings</mat-icon>
                <p-menu #menu [model]="items" [popup]="true"  autoDisplay="false">
                    <ng-template pTemplate="item" let-item>
                       <div class="flex flex-row p-auto">
                            <div [ngClass]="item.icon" class="p-5 w-fit"></div>
                            <span  class="p-5 w-11/12">{{item.label}}</span>
                            <div class="pi pi-check p-5 w-fit"></div>
                       </div>
                    </ng-template>
                </p-menu>
            </div>
            <div class="m-auto ">
                <mat-icon class=" text-white text-xl m-auto cursor-pointer">notifications</mat-icon>
            </div>
            <div class="m-auto ">
                <mat-icon class=" text-white text-xl m-auto cursor-pointer">drag_indicator</mat-icon>
            </div>
            <div class="m-auto ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXjhi7ot7-ltgEN4QBCjxOzBUuidRgMgH3DA&usqp=CAU" class="w-10 cursor-pointer rounded-full" alt="">
            </div>
        </div> 
    </div>
</div>