<p-toast></p-toast>
<div class="sticky top-6 left-0 w-full h-16 bg-orange-600 z-50">
    <div class="flex flex-row h-full m-auto w-full">
        <div>
            <mat-icon (click)="menuOnChange()" 
            class="
             mt-3 ml-1
             text-white text-3xl pb-8 pr-8 cursor-pointer hover:border-2 
             hover:border-solid hover:border-orange-400
             hover:bg-orange-400 hover:rounded-full
             hover:text-white">subject</mat-icon>
        </div>
        <div class="flex flex-row w-fit px-3 cursor-pointer" (click)="redirectHomePage()">
            <div class="my-auto">
                <mat-icon class=" text-white text-5xl pr-12 pb-14 mt-1">
                    shopping_basket
                </mat-icon>
            </div>
            <div class="text-center text-white text-xl my-auto">
                <span class="pt-10 mt-10">Admin</span>
            </div>
        </div> 
        <div class="w-4/5 my-auto">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" class="pl-10 w-80 h-10 border-solid rounded-full" InputText placeholder="Search..."/>
            </span>
        </div>
        <div class="flex flex-row w-fit px-10 text-end h-full leading-5 gap-3">
            <div class="m-auto ">
           
                <mat-icon (click)="menu.toggle($event)" class="text-white text-xl m-auto cursor-pointer">settings</mat-icon>
                <p-menu #menu [model]="items" [popup]="true"  autoDisplay="false">
                    <ng-template pTemplate="item" let-item>
                       <div class="flex flex-row p-auto">
                            <div [ngClass]="item.icon" class="p-5 w-fit"></div>
                            <span  class="p-5 w-11/12">{{item.label}}</span>
                            <div class="pi pi-check p-5 w-fit"></div>
                       </div>
                    </ng-template>
                </p-menu>
            </div>
            <div class="m-auto ">
                <mat-icon class=" text-white text-xl m-auto cursor-pointer" badge="2">notifications</mat-icon>
            </div>
            <div class="m-auto ">
                <mat-icon class=" text-white text-xl m-auto cursor-pointer">drag_indicator</mat-icon>
            </div>
            <div class="m-auto ">
                <button (click)="logout()">
                    <img 
                    src="{{avatar}}" class="w-10 h-8 cursor-pointer rounded-full" alt="">
                
                </button>
              
            </div>
        </div> 
    </div>
</div>