#pot {
    bottom: 15%;
    position: absolute;
    top: 0;
    animation: run linear infinite 40s;
}
@keyframes run {
0% {
      left: 0;
    }
    48% {
      -webkit-transform: rotateY(0deg); 
    }
    50% { 
      left: calc(100% - 100px);
    }
    98% {
    }
    100% {
      left: 0;    
    }
}