<div class="bg-orange-300 text-white text-center font-bold text-2xl p-4">
    <h2 *ngIf="!isEdit; else createNew">Create new account</h2>
    <ng-template #createNew>
      <h2>
        Edit Account
      </h2>
    </ng-template>
    
</div>
<form [formGroup]="accountForm" class="example-container m-10">
    <mat-form-field class="w-full">
      <mat-label>UserName</mat-label>
      <input matInput placeholder="Enter..." formControlName="username" required>
      @if (accountForm.get('username')!.invalid) {
        <mat-error >{{getErrorMessage()}}</mat-error>
      }
    </mat-form-field>
    <button class="mb-4 w-full h-10 text-xl text-white leading-5 bg-orange-200 hover:bg-orange-700" (click)="onClear()">
        Clear
    </button>
    <button class="w-full h-10 text-xl text-white leading-5 bg-orange-500 hover:bg-orange-700" (click)="onSubmit()">
        Submit
    </button>
  </form>