
    <app-animation-env></app-animation-env>
    <app-header *ngIf="isSecure == true"  (menuChange)="onMenuChange($event)"></app-header>
    <div class="flex flex-row m-auto w-full" >
        <app-side-bar  *ngIf="isSecure == true"  [currentTabMenu]="currentTabMenu"></app-side-bar>
        <router-outlet></router-outlet>
    </div>
    <div class="m-auto center text-center" *ngIf="isLoading">
        <p-progressSpinner styleClass="w-2rem h-2rem text-center" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>
  <app-footer  [maxWidth]="maxWidth"></app-footer>