<div class="flex flex-col">
    <div class="flex flex-row h-14 my-auto w-full">
        <div class="w-1/3 pt-5 pl-5 text-xs font-bold">
            <span>Weather</span>
        </div>
       <div class="w-2/3 pt-5 pl-2 cursor-pointer text-end">
            <mat-icon class="text-xs text-gray-400">plus</mat-icon>
       </div>
    </div>
    <div class="grid grid-flow-row grid-cols-10 gap-1">
        <div class="flex flex-col pl-2 col-span-2 m-auto" >
            <div class="text-xl">
                <div class="pi pi-fw pi-sun text-3xl text-yellow-400">
                </div>
            </div>
        </div>
        <div class="col-span-5 flex flex-col" >
           <div>
                <span>New York City</span>
           </div>
           <div>
                <span class="text-xs text-red-500">Sunny</span>
           </div>
           <div>
                <span class="text-xs">Precipitation: 50%</span>
           </div>
        </div>
        <div class="col-span-3 flex flex-col text-center">
            <div class="h-1/2">
                <div class="flex flex-row m-auto">
                    <span class="text-2xl text-blue-600 ml-4">31</span>
                    <div>
                        <span class="font-bold text-sm text-blue-600">0</span>
                    </div>
                </div>
               
            </div>
        </div>
   </div>
</div>