<div class="flex flex-col">
    <div class="flex flex-row h-14 my-auto w-full">
        <div class="w-1/3 pt-5 pl-5 text-xs">
            <span>Weather</span>
        </div>
       <div class="w-2/3 pt-5 pl-2 cursor-pointer text-end">
            <mat-icon class="text-xs text-gray-400">plus</mat-icon>
       </div>
    </div>
    <div class="grid grid-flow-row grid-cols-4">
        <div class="flex flex-col pl-5 col-span-1">
            <div class="text-xl">
                <mat-icon class="text-yellow-300">Sun</mat-icon>
            </div>
        </div>
        <div class="col-span-2 " >
           s
        </div>
        <div class="col-span-1">
            s
        </div>
   </div>
</div>